<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AplicacionComida</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
	<feature name="Notification">
		<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
		</feature>
		<plugin name = "org.apache.cordova.dialogs"/>
    <content src="index.html" />
    <access origin="*" />
</widget>
